/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/image.jpg') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    color: white; /* Texto blanco */
    font-family: 'PP Neu Machina', sans-serif;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.5); /* Filtro negro con transparencia */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 5rem;
    letter-spacing: 2px;
}

.small-text {
    font-size: 1.5rem;
    display: block;
    margin-top: 10px;
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
