/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('image.jpg') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    
    text-align: center;
}



